<div class="container m-auto">
	<form #form="ngForm" class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 m-auto">
		<h1 class='text-center mt-1'>Requisitar Sala</h1>
		<mat-form-field class="col-3">
			<mat-label>Tipo</mat-label>
			<mat-select class="form-control" name="type" ngModel>
				<mat-option *ngFor="let type of types" [value]="type.value" required>
					{{type.value}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field class=" col-3">
			<mat-label>Pavilhão</mat-label>
			<mat-select class="form-control" name="pavilion" ngModel>
				<mat-option *ngFor="let pavilion of pavilions" [value]="pavilion.value">
					{{pavilion.value}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field class="col-3">
			<input matInput placeholder="Sala" class="form-control" name="room" ngModel>
		</mat-form-field>

		<div class="form-group">
			<button type="reset" class="btn btn-lg btn-outline-danger btn-block ">Limpar</button>
			<button type="submit" class="btn btn-lg btn-outline-success btn-block ">Submeter</button>
		</div>
	</form>
</div>
