<form (ngSubmit)="onSubmit()" #form="ngForm">
	<div class="form-group">
		<label>Nome</label>
		<input name='name' #name='ngModel' [(ngModel)]='service.formData.name' class="form-control" required>
		<div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger small">

			<div [hidden]="!name.errors.required">
				Preenchimento obrigatório.
			</div>

		</div>
	</div>
	<div class="form-group">
		<label>Número</label>
		<input name='number' #number='ngModel' [(ngModel)]='service.formData.number' class="form-control" required>
		<div *ngIf="number.invalid && (number.dirty || number.touched)" class="alert alert-danger small">

			<div [hidden]="!number.errors.required">
				Preenchimento obrigatório.
			</div>
			<div [hidden]="!number.errors.conflict">
				Material já está registado.
			</div>

		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
			<label>Tipo</label>
			<input name='type' #type='ngModel' [(ngModel)]='service.formData.type' class="form-control" required>
			<div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert alert-danger small">

				<div [hidden]="!type.errors.required">
					Preenchimento obrigatório.
				</div>

			</div>
		</div>
	</div>
	<div class="form-group">
		<button type="reset" class="btn btn-lg btn-outline-danger btn-block ">Limpar</button>
		<button type="submit" class="btn btn-lg btn-outline-success btn-block "
			[disabled]="!form.form.valid">Submeter</button>
	</div>
</form>
